#body h1 {
	margin: 0px 100px 100px 100px;
	padding: 2px 20px 10px 20px;
	background-color: rgb(220,220,220);
}
#title h2 {
	background-color: black;
	color : white;
	text-align: center;
	margin: 0px 0x 50px 0px;
}
.container h3 {
	background-color: rgb(255,99,71);
	text-align: center;
	margin: 10px 0px 10px 0px;
	font-size: 30px;
}
#rowone p {
	color: blue;
}
#rowtwo p {
	color: green;
}
#rowthree p {
	color: yellow;
	}
