.wrapper {
	text-align: center;
}

body {
	margin-top: 50px;
}

header {
	height: 50px;
	background: blue;
	position: fixed;
	width: 100%;
	top:0;
	transition: all 2s;
}

.scrolled {
		background: red;
		font-size: 30px;
		color: white;
	}
}
